{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Por favor entre y confirme su nueva contraseña.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme contraseña</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar contraseña" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <hr>
		<h1>Cambio de contraseña fallo.</h1>
        <p>El cambio de contraseña fue invalido, posiblemente porque ya ha sido usada. Por favor entre otra contraseña.</p>
		<hr>
    {% endif %}

{% endblock %}